# KX1T AIS-Catcher

## Welcome

Welcome to KX1T's AIS-Catcher instance. This station is located on Eagle Hill in East-Boston, MA, USA, and has a relatively good view over Boston Harbor in southeasterly direction. The western parts of Boston Harbor are still closeby enough to get decent coverage.

## Hardware

- System: Raspberry Pi 4B (4Gb memory) that is also configured for ADS-B and UAT aircraft data collection
- SDR: AirNav ShipXplorer AIS RTL-SDR dongle
- Antenna: ShipXplorer vertical (omnidirectional) antenna at about 40 ft (13.5 m) above the ground

## Software

- [ShipXplorer Docker Container](https://github.com/sdr-enthusiasts/docker-shipxplorer), which includes [AIS-Catcher](https://github.com/jvde-github/AIS-catcher)
- [VesselAlert](https://vesselalert.com) for Discord and Mastodon notifications

The software for this station is automatically updated when changes to the *edge* label of [AIS-catcher Docker container](https://github.com/jvde-github/AIS-catcher/pkgs/container/ais-catcher) are detected. The system checks every 5 minutes for changes to this container, which will automatically kick off a rebuild of the [ShipXplorer container](https://github.com/sdr-enthusiasts/docker-shipxplorer/pkgs/container/shipxplorer). Once this container is updated, [WatchTower](https://hub.docker.com/r/containrrr/watchtower) will deploy it within about 5 minutes. This way, both the ShipXplorer Docker Container and its deployment at this site will always be up to date. You can see the Build Date/Hash and other information <a href="?tab=stat">here</a>.

## Feeding Targets

- [ShipXplorer](https://www.shipxplorer.com/stations/SXTRPI000175)
- [MarineTraffic](https://www.marinetraffic.com/en/ais/details/stations/22977)
- [VesselFinder](https://stations.vesselfinder.com/stations/5289)
- [aprs.fi](https://aprs.fi/info/graphs/i/kx1t)

## Ship Presence and Movement Notifications

- Notifications of all ships observed by this station can be found at [this Mastodon account](https://airwaves.social/@bostonharbor)
- Notifications are generated by [VesselAlert](https://vesselalert.com), a containerized program that monitors the vessels observed by AIS-catcher and creates Mastodon and/or Discord notifications for new vessels and vessels that change location.

## System Statistics and Architecture

- AIS-related system stats can be found by pressing the <a href="?tab=plots">plots button</a> at the top of this page
- At the [bottom of this page](#grafana-dashboard), you can find a Grafana Dashboard of the station.
- More general system stats can be found at the [adsb statistics](https://kx1t.com/trenton-stats) page of the system. Note - this page requires login credentials because of issues with bots siphoning off too much data. Try the owner's first name (small letters, no accents) for both user and pass
- This station is part of KX1T's architecture that includes stations in Belmont MA-USA, East-Boston MA-USA, Ayer MA-USA, and Heerlen-Netherlands. See architecture diagram below.
- You can also browse to [kx1t.com](https://kx1t.com) to see what else there is

![architecture diagram](https://kx1t.com/kx1t-architecture.png)

## So You Want To Create Your Own About Page In AIS-catcher

It's easy to do, but the how-to slightly differs depending on how you are deploying AIS-Catcher.
You start by creating a file called `about.md`. You can use [MarkDown](https://www.markdownguide.org/cheat-sheet/) code to [make it look pretty](https://raw.githubusercontent.com/sdr-enthusiasts/docker-shipxplorer/main/graphics/aiscatcher-markdown.png).
Then you save this file as follows:

| AIS-catcher Deployment Method | Description |
|-------------------------------|-------------|
| Directly on machine | Save the file anywhere, and then add `ABOUT /path/to/about.md` to the commandline after the `-N <port>` part |
| Using the `ghcr.io/jvde-github/ais-catcher` Docker container | Save the file anywhere in a mounted volume and then add the path to the file as seen from inside the container to the commandline after the `-N <port>` part |
| Using the `ghcr.io/sdr-enthusiasts/docker-shipxplorer` Docker container | You should already have mapped the `/data` directory from inside the container. Save the file in that exposed directory and it will be automatically detected and deployed. |

Note - if you make changes to the `about.md` file, you should restart AIS-Catcher for it to detect these changes, except when you use the `ghcr.io/sdr-enthusiasts/docker-shipxplorer` container. The latter auto-detects and auto-deploys changes to `about.md`.

If you need some inspiration, the `about.md` file used to generate this About screen can be found [here](https://github.com/sdr-enthusiasts/docker-shipxplorer/about.md.example).

## Grafana Dashboard

<iframe src="https://kx1t.com/gfna/goto/aIkXB4L4k?orgId=2" width="100%" height="1300" frameborder="0"></iframe>

## Use and License

- This page and all information available on this page is (C) Copyright, 2022-2023, by Ramon F Kolb `kx1t`.
- The software used to implement this station is licensed under a variety of Open Source Licenses, each of which are available at their respective Open Source repositories
- `AIS-catcher` is (C) by Jasper vdE and [licensed](https://github.com/jvde-github/AIS-catcher/blob/main/LICENSE) under the terms of the GNU General Public License v3.0
- `sxfeeder` is (C) by AirNav Systems and incorporated using their public debian distribution. For license terms, please contact AirNav Systems.
- The Docker container contains [Skarnet's `s6` framework](https://skarnet.org/software/s6/), which is made available under the [ISC license](https://opensource.org/licenses/ISC).
- Other components to manage the interaction of the components of this container are [licensed](https://github.com/sdr-enthusiasts/docker-shipxplorer/blob/main/LICENSE) under the terms of the GNU General Public License v3.0.
- The data shown on the screen and forwarded to agregators or other entities for display and/or further use is licensed under the Creative Commons Attribution 4.0 International License (CC-BY 4.0). To view a copy of this license, visit [https://creativecommons.org/licenses/by/4.0](https://creativecommons.org/licenses/by/4.0).

### Disclaimer of Warranty

  THERE IS NO WARRANTY FOR THE PROGRAM OR DATA, TO THE EXTENT PERMITTED BY
APPLICABLE LAW.  EXCEPT WHEN OTHERWISE STATED IN WRITING THE COPYRIGHT
HOLDERS AND/OR OTHER PARTIES PROVIDE THE PROGRAM OR DATA "AS IS" WITHOUT WARRANTY
OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE.  THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE PROGRAM OR DATA
IS WITH YOU.  SHOULD THE PROGRAM OR DATA PROVE DEFECTIVE, YOU ASSUME THE COST OF
ALL NECESSARY SERVICING, REPAIR OR CORRECTION.

### Limitation of Liability

  IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING
WILL ANY COPYRIGHT HOLDER, OR ANY OTHER PARTY WHO MODIFIES AND/OR CONVEYS
THE PROGRAM OR DATA AS PERMITTED, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY
GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE
USE OR INABILITY TO USE THE PROGRAM OR DATA (INCLUDING BUT NOT LIMITED TO LOSS OF
DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD
PARTIES OR A FAILURE OF THE PROGRAM OR DATA TO OPERATE WITH ANY OTHER PROGRAMS OR DATA),
EVEN IF SUCH HOLDER OR OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF
SUCH DAMAGES.
